body {
    margin: 0;
    padding: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: var(--vscode-font-family);
    color: var(--vscode-editor-foreground);
    font-size: 12px;
}

.controls {
    margin-bottom: 10px;
    background: var(--vscode-editor-background);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--vscode-input-border);
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 90%;
    max-width: 300px;
    max-height: 40vh;
    /* Scroll if too many controls */
    overflow-y: auto;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select {
    background: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: 1px solid var(--vscode-input-border);
    padding: 4px;
    border-radius: 2px;
    width: 60%;
}

/* Specific input adjustments */
input[type="color"] {
    padding: 1px;
    height: 24px;
    width: 40px;
}

#container {
    position: relative;
    display: inline-block;
    border: 1px dashed var(--vscode-editor-foreground);
    margin-top: 10px;
}

#img {
    max-width: 100%;
    display: block;
    min-width: 50px;
    min-height: 50px;
    border-style: solid;
    /* Default for borders */
}

#resizer {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    background: var(--vscode-button-background);
    border-top-left-radius: 4px;
}